{% extends "baseSecurity.html" %}
{% load static %}
<!doctype html>
<html lang="pt-BR">

{% block 'title' %}

  iClynikaX : Security - Dashboard

  <!-- Functions geral de javascripts -->
  <script src="{% static 'geral/js/myFunctions.js' %}?v={% now 'YmdHis' %}"></script>


{% endblock 'title' %}

{% block 'body' %}  

  <!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Security</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/security/">Security</a></li>
          <li title="Este mapa permite a detecção em tempo real de anomalias, automatizando respostas a ataques e reduzindo a superfície de exposição. " class="breadcrumb-item active">Mapa Geral - Security Platforms</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Acessos <span>| {{diaAnoCorrente|date:"d \d\e F \d\e Y"}} </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-unlock"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{nTtldiaCorrente}}</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">Aumentando</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Usuários <span>| {{mesAnoCorrente}} de {{anoCorrente}}</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-graph-up"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{nTtlMesCorrente}}</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">Aumentando</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Clientes<span title="2025"> | {{anoCorrente}}</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bar-chart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{nTtlAnoCorrente}}</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">Diminuindo</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                </div>

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtros</h6>
                    </li>
                    <li><a class="dropdown-item" id="hoje" onClick="acssaRltrio('hoje')">Hoje</a></li>
                    <li><a class="dropdown-item" id="mes" onClick="acssaRltrio('mes')">Neste Mês</a></li>
                    <li><a class="dropdown-item" id="ano" onClick="acssaRltrio('ano')">Neste Ano</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Relatórios <span>|
                    <!-- Botão para direcionar ao periodo anterior selecionado -->
                    <a class="icon" data-tooltip='Acessa o mês Anterior: Não Atualizado' href="#" data-bs-toggle="dropdown">
                      <i onclick="acssaPrdoAntror(this);" id="{{slct_Periodo}}" name="Periodo_Anterior" 
                        {% if filtro == 'mes' %}
                          id="{{ mesAnoCorrente }}/{{ anoCorrente }}"
                        {% elif filtro == 'hoje' %}
                          id="{{ slct_PrxPrdo }}"
                        {% endif %}                     
                        class="bi bi-arrow-left-square-fill"
                        style="cursor: pointer;">
                      </i>
                    </a>
                    <span id="data-relatorio">{{slct_Periodo}}</span>
                    <!-- Botão para direcionar ao periodo posterior/seguinte selecionado -->
                    <a class="icon" data-tooltip='Acessa o mês Seguinte: Não Atualizado' href="#" data-bs-toggle="dropdown">
                      <i onclick="acssaPrdoPstror(this);" id="{{slct_Periodo}}" name="Periodo_Posterior"
                        {% if filtro == 'mes' %}
                          id="{{ mesAnoCorrente }}/{{ anoCorrente }}"
                        {% elif filtro == 'hoje' %}
                          id="{{ slct_PrxPrdo }}"
                        {% endif %}                     
                        class="bi bi-arrow-right-square-fill"
                        style="cursor: pointer;">
                      </i>
                    </a></span>
                  </h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div> 

                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        // Gera 24 timestamps para o dia atual
                        const hoje = new Date();
                        const ano = hoje.getFullYear();
                        const mes = String(hoje.getMonth() + 1).padStart(2, '0');
                        const dia = String(hoje.getDate()).padStart(2, '0');

                        const categorias = [];
                        for (let h = 0; h < 25; h++) {
                          const hora = String(h).padStart(2, '0');
                          categorias.push(`${ano}-${mes}-${dia}T${hora}:00:00.000Z`);
                        }

                        const acessos = {{ slct_Acessos|safe }};
                        const cliente = {{ slct_Cliente|safe }};
                        const medico = {{ slct_Medico|safe }};
                        const atendente = {{ slct_Atendente|safe }};
                        const gerente = {{ slct_Gerente|safe }};
                        const estagiario = {{ slct_Estagiario|safe }};

                        new ApexCharts(document.querySelector("#reportsChart"), {
                          series: [{
                            name: 'Acessos',
                            data: acessos,
                          }, {
                            name: 'Clientes',
                            data: cliente
                          }, {
                            name: 'Médicos',
                            data: medico
                          }, {
                            name: 'Atendentes',
                            data: atendente
                          }, {
                            name: 'Gerentes',
                            data: gerente
                          }, {
                            name: 'Estagiários',
                            data: estagiario
                          }
                          ],
                          chart: {
                            height: 350,
                            type: 'area',
                            toolbar: {
                              show: false
                            },
                          },
                          markers: {
                            size: 4
                          },
                          colors: ['#4154f1', '#2eca6a', '#ff771d', '#00bcd4', '#ffc107', '#9c27b0'],
                          fill: {
                            type: "gradient",
                            gradient: {
                              shadeIntensity: 1,
                              opacityFrom: 0.3,
                              opacityTo: 0.4,
                              stops: [0, 90, 100]
                            }
                          },
                          dataLabels: {
                            enabled: false
                          },
                          stroke: {
                            curve: 'smooth',
                            width: 2
                          },
                          xaxis: {
                            type: 'datetime',
                            categories: categorias
                          },
                          tooltip: {
                            x: {
                              format: 'dd/MM/yy HH:mm'
                            },
                          }
                        })
                        .render();
                      });
                    </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Acessos Recentes -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" data-tooltip='' href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtros</h6>
                    </li>

                    <!-- Passando parâmetro "filtro" via GET -->
                    <li><a class="dropdown-item" href="?filtro=hoje">Hoje</a></li>
                    <li><a class="dropdown-item" href="?filtro=mes">Neste Mês</a></li>
                    <li><a class="dropdown-item" href="?filtro=ano">Neste Ano</a></li>                    

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Registros de Logs<span> | {{slct_Periodo}}</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Atividade</th>
                        <th scope="col">Cargo/Atribuição/Função</th>
                        <th scope="col">Data/Hora</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for Registros_Logs in Rgstrs_Logs  %}
                        <tr>
                          <th scope="row"><a href="#">#{{Registros_Logs.id}}</a></th>
                          <td>{{Registros_Logs.Usuario}}</td>
                          <td><a href="#" class="text-primary">{{Registros_Logs.Atividade}}</a></td>
                          <td>{{Registros_Logs.Perfil_User}}</td>
                          <td><span class="badge bg-success">{{Registros_Logs.DtHr_Atividade|date:"d/m/Y H:i"}}</span></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Acessos Recentes -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Acessos Recentes <span>| Hoje</span></h5>

              <div class="activity">
                {% for CncoUltmo in Slct5UltmosRgstrosDeHoje  %}
                  <tr>
                    <div class="activity-item d-flex">
                      <div title="{{CncoUltmo.id}}" class="activite-label" title="{{ CncoUltmo.DtHr_Atividade }}">
                        {{ CncoUltmo.DtHr_Atividade|timesince }}
                      </div>
                      <i class="bi bi-circle-fill activity-badge 
                        {% if CncoUltmo.Perfil_User == 'Gerente' %}
                            text-success
                        {% else %}
                          {% if CncoUltmo.Perfil_User == 'Cliente' %}
                              text-danger
                          {% else %}
                            {% if CncoUltmo.Perfil_User == 'Médico' %}
                                text-info
                            {% else %}
                              {% if CncoUltmo.Perfil_User == 'Paciente' %}
                                  text-warning
                              {% else %}
                                {# Os Estagiarios enquadram aqui. #}
                                  text-primary 
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                        align-self-start">
                      </i>
                      <div class="activity-content">{{CncoUltmo.Atividade}}
                        <a href="#" title="{{CncoUltmo.Usuario}}" class="fw-bold text-dark">
                          {{CncoUltmo.Perfil_User}}
                        </a>
                      </div>
                    </div>
                {% endfor %}                
              </div>
              <!-- End activity item-->

            </div>
          </div><!-- End Recent Activity -->

          <!-- Relatório de Atividades -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filtros</h6>
                </li>

                <li><a class="dropdown-item" href="#">Hoje</a></li>
                <li><a class="dropdown-item" href="#">Neste Mês</a></li>
                <li><a class="dropdown-item" href="#">Neste Ano</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Atividades por cidades <span>| {{mesAnoCorrente}}</span></h5>

              <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                // Defina os nomes das atividades como uma variável global
                const labels = [
                  {% for atividade in Rgstrs_Atvddes %}
                    '{{ atividade.atvddeNome }}'{% if not forloop.last %},{% endif %}
                  {% endfor %}
                ];

                var budgetChart = echarts.init(document.querySelector("#budgetChart"));
                  budgetChart.setOption({
                      tooltip: {
                          trigger: 'item',
                          formatter: function (params) {
                              let output = `
                                  <div style="text-align: center;background-color: black; color: white; font-family: 'Times New Roman', serif; font-weight: bold; font-size: 14px;">${params.name}</div>


                                  <pre style="font-family: monospace; margin: 0;">`;
                                  params.value.forEach((val, idx) => {
                                      const nome = labels[idx];
                                      const linha = nome.padEnd(40, '.') + ' ' + val.toString().padStart(2, ' ');
                                      const bgColor = idx % 2 === 0 ? '#f0f0f0' : '#e0e0e0'; // alterna cor
                                      output += `<div style="background-color:${bgColor};">${linha}</div>`;
                                  });
                                  return output;
                              }
                      },
                      legend: {
                      data: [
                            {% for cidade in Rgstrs_Cddes %}
                              '{{ cidade }}'{% if not forloop.last %},{% endif %}
                            {% endfor %}
                          ]
                        },
                    radar: {
                      // shape: 'circle',
                        indicator: [
                          {% for atividade in Rgstrs_Atvddes %}
                          {
                            name: '{{ atividade.atvddeNome }}',
                            max: {{Rgstrs_MaxAtvddes}}
                          }{% if not forloop.last %},{% endif %}
                          {% endfor %}
                        ]
                      },
                    series: [{
                      name: 'Budget vs spending',
                      type: 'radar',
                      data: [
                        {% for cidade in Rgstrs_Series %}
                        {
                          value: [
                            {% for valor in cidade.value %}
                              {{ valor }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                          ],
                          name: '{{ cidade.name }}'
                        }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      ]                            
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- Final do Relatório de Atividades -->

          <!-- Assinaturas Atividades -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filtros</h6>
                </li>

                <li><a class="dropdown-item" href="#">Hoje</a></li>
                <li><a class="dropdown-item" href="#">Neste Mês</a></li>
                <li><a class="dropdown-item" href="#">Neste Ano</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Assinaturas das Atividades <span>| {{mesAnoCorrente}}</span></h5>
                  <div id="trafficChart" style="min-height: 385px;" class="echart"></div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '0%',
                      left: 'center'
                    },
                    series: [{
                      top: '25%',
                      name: 'Assinados:',
                      type: 'pie',
                      radius: ['40%', '85%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [
                        {% for Atividade in Rgstrs_Atvddes %}
                          {
                            value: {{ Atividade.atvddeValor }},
                            name: '{{ Atividade.atvddeNome }}'
                          }
                          {% if not forloop.last %},{% endif %}
                        {% endfor %},
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div>
          <!-- Finalização: Assinaturas Atividades -->




        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!--Ativa as opções do menu principal esquerdo -->
  <script language="JavaScript">
  <!--
          document.getElementById('security-nav').className ='nav-content collapse show';
          document.getElementById('sidebar-nav-security-mapa').className ='active';
        
  //-->
  </script>



  <script>
    function acessaRelatorio(elemento) {
      const filtro = elemento.id;

      fetch('/relatorio/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')  // importante para segurança
        },
        body: JSON.stringify({ filtro: filtro })
      })
      .then(response => response.json())
      .then(data => {
        // Aqui você pode atualizar a página com os dados recebidos
        console.log(data);
        // Exemplo: document.getElementById("resultado").innerHTML = data.html;
      });
    }

    // Função para pegar o CSRF token do cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    
    function acssaPrdoAntror(obj){
      const el = document.querySelector('i[name="Periodo_Anterior"]');
      if (!el) return;
      const slct_PrePeriodo = el.id; // ou pegue de algum elemento
      const c_CrrntePrdo = `${slct_PrePeriodo} às 00:00`;

      const pai = el.closest("a");
      if (!pai) return;

      const dcmntPstrior = document.querySelector('i[name="Periodo_Posterior"]');
      if (!dcmntPstrior) return;
      
      const paiPstrior = dcmntPstrior.closest("a");
      if (!paiPstrior) return;

      const txtPstrior = document.getElementById('data-relatorio').textContent;
      paiPstrior.setAttribute("data-tooltip", txtPstrior);
      
      document.getElementById('data-relatorio').textContent = el.id ;
      atualizarTooltipPeriodo(c_CrrntePrdo, el, -1);

      // alert('Refresh o gráfico abaixo.')

      //renderizarGrafico('hoje', periodo); // passa o período como argumento
     

    }




    function acssaPrdoPstror(obj){
      const el = document.querySelector('i[name="Periodo_Posterior"]');
      if (!el) return;
      const slct_PrePeriodo = el.id; // ou pegue de algum elemento
      const c_CrrntePrdo = `${slct_PrePeriodo} às 00:00`;

      const pai = el.closest("a");
      if (!pai) return;

      const dcmntPstrior = document.querySelector('i[name="Periodo_Anterior"]');
      if (!dcmntPstrior) return;
      
      const paiPstrior = dcmntPstrior.closest("a");
      if (!paiPstrior) return;

      const txtPstrior = document.getElementById('data-relatorio').textContent;
      paiPstrior.setAttribute("data-tooltip", txtPstrior);
      
      document.getElementById('data-relatorio').textContent = el.id ;
      atualizarTooltipPeriodo(c_CrrntePrdo, el, +1);

      // alert('Refresh o gráfico abaixo.')

      //renderizarGrafico('hoje', periodo); // passa o período como argumento
       
    }

    //----------------------------------------------------------------------------------- Atualiza os valores de Title dos botões de relatórios
    // Atualiza o botão Anterior---------------------------------------------------------
    document.addEventListener("DOMContentLoaded", function () {
      const el = document.querySelector('i[name="Periodo_Anterior"]');
      if (!el) return;
      const slct_PrePeriodo = el.id; // ou pegue de algum elemento
      const c_CrrntePrdo = `${slct_PrePeriodo} às 00:00`;

      const pai = el.closest("a");
      if (!pai) return;
      
      atualizarTooltipPeriodo(c_CrrntePrdo, el, -1);


    });



function atualizarTooltipPeriodo(c_PreCrrntePrdo, el, nAjstePrdo = -1) {
  const meses = [
    "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
    "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
  ];

  const pai = el.closest("a");
  if (!pai) return;

  if (c_PreCrrntePrdo.includes(" às ")) {

    const entrada = c_PreCrrntePrdo;

    // Extrai partes da data
    const partes = entrada.split(" de ");
    const dia = partes[0].padStart(2, '0'); // "09"
    // alert(dia);
    const mesNome = partes[1];
    const ano = partes[2].split(" às ")[0];

    const mesIndex = meses.indexOf(mesNome) + 1;
    const mes = String(mesIndex).padStart(2, '0'); // "11"
    // alert('mes: '+mes);

    const c_CrrntePrdo = `${ano}-${(mes-1)}-${dia}`;  

    // alert('c_CrrntePrdo: '+c_CrrntePrdo);

    const dataAtual = new Date(ano, (mes-1), dia); // cria no fuso local
    
    // alert('dataAtualAnterior:'+dataAtual);


    dataAtual.setDate(dataAtual.getDate() + nAjstePrdo); // 👈 subtrai ou soma

    // alert('dataAtual: '+dataAtual);

    const diaNovo = dataAtual.getDate();
    const mesNovo = meses[dataAtual.getMonth()];
    const anoNovo = dataAtual.getFullYear();

    const novaData = `${diaNovo} de ${mesNovo} de ${ano}`;
    const direcao = nAjstePrdo < 0 ? "anterior" : nAjstePrdo > 0 ? "posterior" : "atual";
    pai.setAttribute("data-tooltip", `Acessa o dia ${direcao}: ${novaData}`);

    // alert('1. el.id:'+el.id);
    el.setAttribute("id", `${diaNovo} de ${mesNovo} de ${ano}`);
    // alert('2. el.id:'+el.id);

  }

  else if (c_PreCrrntePrdo.includes("/")) {
    const [mesTexto, anoTexto] = c_CrrntePrdo.split("/");
    const mesIndex = meses.indexOf(mesTexto);

    let novoMesIndex = mesIndex + nAjstePrdo;
    let novoAno = parseInt(anoTexto);

    if (novoMesIndex < 0) {
      novoMesIndex = 11;
      novoAno -= 1;
    } else if (novoMesIndex > 11) {
      novoMesIndex = 0;
      novoAno += 1;
    }

    const mesNovo = meses[novoMesIndex];
    const direcao = nAjstePrdo < 0 ? "Anterior" : nAjstePrdo > 0 ? "Posterior" : "Atual";
    pai.setAttribute("data-tooltip", `Acessa o mês ${direcao}: ${mesNovo}/${novoAno}`);
  }

  else {
    const novoAno = parseInt(c_CrrntePrdo) + nAjstePrdo;
    const direcao = nAjstePrdo < 0 ? "Anterior" : nAjstePrdo > 0 ? "Posterior" : "Atual";
    pai.setAttribute("data-tooltip", `Acessa o ano ${direcao}: ${novoAno}`);
  }
}


    // Atualiza o botão Posterior----------------------------------------------------------
    document.addEventListener("DOMContentLoaded", function () {
      const meses = [
        "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
      ];
      const c_PrxPrdo = "{{slct_PrxPrdo}}";

      // Seleciona o elemento <i> que será usado como referência
      const el = document.querySelector('i[name="Periodo_Posterior"]');
      if (!el) return;

      const id = el.id;
      const pai = el.closest("a");

      if (!pai) return;

      // Verifica se é formato de data (hoje) ou mês (mes)


      if (c_PrxPrdo.includes(" às ")) {
        // Formato: dia "10 de Novembro de 2025 às 00:00"

        //const [diaTexto, mesTexto, anoTexto] = id.split(" de ");
        const diaTexto = c_PrxPrdo.split(" de ")[0];
        const mesTexto = meses.find(m => c_PrxPrdo.includes(m));

        // Encontra o mês presente na string
        const mesEncontrado = meses.find(m => c_PrxPrdo.includes(m));

        let anoTexto = ''; // declara fora
        if (mesEncontrado) {
          const partes = c_PrxPrdo.match(/de (\d{4})\s+às/);
          anoTexto = ''+partes[1]+''; // "2025"
        }

        const dataAtual = new Date(`${anoTexto}-${mesTexto}-${diaTexto}`);

        // Transforma o dia por extenso
        const mesNome = meses[parseInt(mesTexto, 10) - 1]; // converte "11" → 10 → "Novembro"
        const novaData = `${diaTexto} de ${mesTexto} de ${anoTexto}`;

        pai.setAttribute("data-tooltip", `Acessa o dia seguinte: ${novaData}`);
      }
      else if (c_PrxPrdo.includes("/")) {
        // Formato: Mês "Novembro/2025"
        const c_PrxPrdo = "{{slct_PrxPrdo}}";
        const [mesTexto, anoTexto] = c_PrxPrdo.split("/");
        const mesIndex = meses.indexOf(mesTexto);
        let novoMesIndex = mesIndex + 0;
        let novoAno = parseInt(anoTexto);

        if (novoMesIndex > 11) {
          novoMesIndex = 0;
          novoAno += 1;
        }

        const mesPosterior = meses[novoMesIndex];
        const novoTooltip = `Acessa o mês Seguinte: ${mesPosterior}/${novoAno}`;
        pai.setAttribute("data-tooltip", novoTooltip);
      }
      else {
        // Formato: Ano "2025"
        const c_PrxPrdo = "{{slct_PrxPrdo}}";

        const anoPosterior = c_PrxPrdo;
        const novoTooltip = `Acessa o ano Seguinte: ${anoPosterior}`;
        pai.setAttribute("data-tooltip", novoTooltip);
      }
    });


  </script>
  <script>

    let chart = null;

    function renderizarGrafico(dados, periodo) {
      // Esta localizada em: templates/static/myFunctions.js
      //                           usa o período recebido
      const categorias = gerarCategorias(periodo); 

      let formatoTooltip;
      if (periodo === 'hoje') {
        formatoTooltip = 'dd/MM/yy HH:mm';
      } else if (periodo === 'mes') {
        formatoTooltip = 'dd/MM/yyyy';
      } else if (periodo === 'ano') {
        formatoTooltip = 'MMM/yyyy';
      }      

      // ✅ Remove gráfico anterior e limpa o container
      if (chart) {
        chart.destroy();
      }

      const options = {
        series: [
          { name: 'Acessos', data: dados.acessos },
          { name: 'Clientes', data: dados.cliente },
          { name: 'Médicos', data: dados.medico },
          { name: 'Atendentes', data: dados.atendente },
          { name: 'Gerentes', data: dados.gerente },
          { name: 'Estagiários', data: dados.estagiario }
        ],

        chart: { height: 350, type: 'area', toolbar: { show: false } },

        markers: { size: 4 },
        colors: ['#4154f1', '#2eca6a', '#ff771d', '#00bcd4', '#ffc107', '#9c27b0'],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100]
          }
        },
        dataLabels: { enabled: false },
        stroke: { curve: 'smooth', width: 2 },
        xaxis: { type: 'datetime', categories: categorias },
        tooltip: { x: { format: formatoTooltip } }
      };
      chart = new ApexCharts(document.querySelector("#reportsChart"), options);
      chart.render();
      
    }


    function acssaRltrio(filtro) {
      const periodo = filtro.toLowerCase();

      if (chart) {
        chart.destroy(); // remove o gráfico anterior
        chart.render();
        document.querySelector("#reportsChart").innerHTML = ""; // limpa o container
      }

      fetch(`./grafico_dados?filtro=${periodo}`)
        .then(response => response.json())
        .then(data => {
          console.log("Dados recebidos:", data);
          renderizarGrafico(data, periodo); // passa o período como argumento
        })
        .catch(error => {
          console.error("Erro ao buscar dados:", error);
        });
    }

    // Se quizer que reenderiza ao entrar de forma automática
    document.addEventListener("DOMContentLoaded", () => {
      acssaRltrio("{{ slct_Filtro|default:'hoje'|escapejs }}");
    });

  </script>



{% endblock 'body' %}


</html>


